### Test using Google BigQuery to access M-Lab data in a Jupyter notebook

Created by John Burt, for allTBD group.

This notebook is a simple demo showing how to access M-Lab data. 

#### Process followed to get this working:
- Have Anaconda installed
- Install pandas-gbq package (in command line: 'conda install pandas-gbq --channel conda-forge')
- Followed steps in the M-lab [BigQuery quickstart](https://www.measurementlab.net/data/docs/bq/quickstart/) to create a Google Cloud account and project, enable the BQ API, etc.

Other useful links:

Telescope: ["Python framework designed to extract raw measurements from M-Lab to allow the easy production of research"](https://github.com/m-lab/telescope)

In [1]:
import pandas as pd
from pandas.io import gbq

# this is my project ID, you will probably use a different one
project_id = 'mlab-194421'

# example query from https://www.measurementlab.net/data/docs/bq/quickstart/
mlab_test_query = """
SELECT
  STRFTIME_UTC_USEC(web100_log_entry.log_time * 1000000, '%Y-%m-%d') AS day,
    COUNT(*) AS num_tests
  FROM
    plx.google:m_lab.ndt.all
  GROUP BY
    day
  ORDER BY
    day ASC
"""

# read the query output into a pandas datafframe
test_df = gbq.read_gbq(mlab_test_query, project_id=project_id)
    
# show contents    
test_df.head()

Requesting query... ok.
Job ID: 9cf6803c-32a0-40dd-8f02-ab44c8344258
Query running...
Query done.
Processed: 0.0 B Billed: 0.0 B
Standard price: $0.00 USD

Retrieving results...
Got 3003 rows.

Total time taken 6.22 s.
Finished at 2018-02-06 16:54:03.

          day  num_tests
0  2009-02-18          2
1  2009-02-21         89
2  2009-02-22        278
3  2009-02-23        209
4  2009-02-24        290